@import "../colors.scss";

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $white;
  padding-top: 2em;
  padding-bottom: 2em;
}

.card {
  height: 100%;
  &:hover {
    border: 1px solid rgb(184, 182, 182);
    filter: brightness(110%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(158,158,158,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(158,158,158,1);
    box-shadow: 0px 0px 5px 0px rgba(158,158,158,1);
  }
}

.card-container {
  margin-top: 1em;
  span {
    font-weight: bolder;
  }
}

.login-data {
  text-align: right;
}

.project-title {
  color: $black;
}

.pr-divider {
  width: 90%;
  border-top: 2px solid $yellow;
  opacity: 0.6;
}

.img-icon {
  background-color: black;
  margin: 2px;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    transform: scale(1.2, 1.2);
  }
  @include media-breakpoint-up(lg) {
    width: 40px;
    height: 40px;
  }
}

.pr-link {
  background-color: $white;
  border-radius: 4px;
  display: flex;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 5px;
  &:hover {
    cursor: pointer;
    filter: brightness(60%);
    box-shadow: 0px 8px 15px rgba(245, 245, 245, 0.26);
    transition: all 0.3s ease 0s;
    transform: translateY(-7px);
  }
  @media (min-width: 992px) {
    max-width: 50px;
    max-height: 50px;
  }

  @include media-breakpoint-up(xs) {
    width: 30px;
    height: 30px;
  }
  @include media-breakpoint-up(md) {
    width: 40px;
    height: 40px;
  }

  @include media-breakpoint-up(lg) {
    width: 60px;
    height: 60px;
  }
}
